{% extends 'base.html' %}
{% load static %}

{% block title %}Gerador de Atestado Grátis{% endblock title %}

{% block main %}<br>
    <section class="container">
        <div class="container">
            {% if status == '0' %}
                <div class="alert alert-warning" role="alert">
                    Preencha os campos corretamente!
                </div>
            {% endif %}

            {% if status == '1' %}
                <div class="alert alert-success" role="alert">
                    Atestado gerado com sucesso! Cheque seu e-mail para fazer o download.
                </div>
            {% endif %}
            
            {% if status == '2' %}
                <div class="alert alert-danger" role="alert">
                    Ocorreu um erro ao gerar seu atestado. Tente novamente mais tarde.
                </div>
            {% endif %}
        </div>

        <form method="POST" action="{% url 'generate_certificate' %}">{% csrf_token %}
            <div class="mb-3">
                {{form.nome.label}}
                {{form.nome}}
            </div>

            <div class="mb-3">
                {{form.email.label}}
                {{form.email}}
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-success">
            </div>
        </form>
    </section>
{% endblock main %}